<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" type="image/jpg" href="logo.jpg" />
    <!-- CSS only -->
    <title>64-Bit</title>
  </head>

  <body style="background-color: black">
    <div style="color: white">
      <h1>You have sent it successfully</h1>
      <a href="/" style="color: white">Go back to home</a>
    </div>
  </body>
</html>
